/*
    COLORS
    color-priamry-dark : #0f0a3c;
    color-priamry : #07456f;
    color-priamry-light : #009f9d;
    color-priamry-light-2 : #cdffeb;

    color-white : #fffeec


    FONTS
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;

*/
// Extra small devices (portrait phones, less than 576px)
// // No media query since this is the default in Bootstrap

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
$color-primary-dark: #0f0a3c;
$color-primary: #07456f;
$color-primary-light: #009f9d;
$color-primary-light-2: #cdffeb;
$color-white: #fffeec;
$theme-colors: (
  "primary": #07456f,
  "primary-dark": #0f0a3c,
  "primary-light": #009f9d,
  "primary-light-2": #f8fffc
);

$font-display: "Roboto Mono", monospace;
$font: "Montserrat", sans-serif;
/*PLACEHOLDERS*/

%center-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: $font;
}
