/*
* OVERRIDE BT CLASSES
*/

$enable-rounded: false !default;
.nav-tabs {
  border-bottom: none !important;
}
.nav-link.active {
  background-color: $color-primary !important;
  color: $color-white !important;
  border-bottom: none;
}
.tabs__nav-link.nav-link {
  border: none !important;
}
.tabs__nav-link.nav-link:not(.active) {
  background-color: rgb(245, 243, 243);
  opacity: 0.3;
}
/*MAIN DISPLAY*/

.main-display {
  background-image: linear-gradient(
      to bottom,
      rgba($color-primary, 0.5),
      rgba($color-primary-light, 0.4)
    ),
    url("../img/bg-images/rain.jpg");
  background-size: cover;
  &__city {
    border: 3px solid #fff;
    color: #fff;
    width: 65%;
    padding: 7px;
    margin: auto;
  }
  &__deg-desc-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__degrees {
    position: relative;
    font-family: $font-display;
    font-size: 10rem !important;
    font-weight: bold !important;
  }
  &__description-icon {
    height: 4rem;
  }
  &__wind-hum {
    &-num {
      font-size: 2.3rem;
      font-weight: bolder;
      & span {
        font-size: 0.8rem;
      }
    }
    &-img {
      height: 1.3rem;
      margin-left: 0.3rem;
    }
  }
}
/*SUB DISPLAY*/
.sub-display {
  &__box {
    &:nth-child(odd) {
    }
    &__icon {
      width: 50% !important;
      display: block;
      margin: 3px auto;
    }
    &__degree {
      font-weight: bold;
      text-align: center;
      border-radius: 50%;
      margin: auto;
      margin: auto 3px;
      position: relative;
    }
  }
}
/*menu*/

.menu {
  text-align: right;
  position: fixed;
  background-color: inherit;
  top: 2vh;
  right: 4vw;
  width: 3.5rem;

  background: none;
  box-shadow: none;
  outline: none;
  z-index: 99999;
  &--on {
    & .menu__bar {
      &--1 {
        transform: rotate(225deg);
      }
      &--2 {
        transform: rotate(-225deg) translate(-4px, 5px);
      }
      &--3 {
        opacity: 0;
      }
    }
  }
  &__bar {
    display: block;
    text-align: right;
    height: 2px;
    width: 100%;
    background-color: #fff;

    transition: 0.4s ease-in-out;
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &--3 {
      width: 70%;
      float: right;
    }
  }
}

/*OVERLAY*/
.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;

  background-color: $color-primary;
  z-index: 99998;
  &__heading {
    font-family: $font-display;
    letter-spacing: 2px;
  }
}
